name: CI

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php-version: ['8.2', '8.3', '8.4']

    name: PHP ${{ matrix.php-version }} Test
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          extensions: mbstring, intl
          coverage: pcov

      - name: PHP Version
        run: php -v

      - name: Install dependencies
        run: |
          composer self-update
          composer validate
          composer install --prefer-dist --no-progress

      - name: Run PHPUnit
        run: |
          if [[ ${{ matrix.php-version }} == '8.2' ]]; then
            vendor/bin/phpunit --coverage-clover=coverage.xml
          else
            vendor/bin/phpunit
          fi

      - name: Code Style Check
        if: matrix.php-version == '8.2'
        run: composer cs-check
